html {
    font-size: 15px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ_2-Zo2bEUV9GgBwizq3GEUfLC5FflGFVwrcHa20iULwWefU0a&usqp=CAU");
    background-color: #1b1b32;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    position: sticky;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

nav {
    float: right; 
}

.nav-link {
    color: white;
}

h1 {
    float: center;
    text-align: center;
}

.product-title {
    text-align: center;
    font-size: 2.5rem;   
}

.larger-image {
    width: 225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.logo-image {
    display: inline;
    width: 75px;
}

.container {
    max-width: 1000px;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: auto; 
    text-transform: capitalize;
}

.product-box {
    border-color: red;
    border-width: 3px;
    border-style: solid;
}

iframe {
    margin: auto;
    max-width: 1000px;
    width: 50%;
    display: flex;
    align-items: center;
}

/*stupid form stuff*/
.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-control {
    display: inline;
    width: 20%;
    height: 2rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.submit-button {
    display: inline;
}

.purchase-button {
    margin: auto;
    display: flex;
    align-items: flex-end;
}

/* Dropdown Button */
.dropbtn {
    background-color: #0000ff;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #0000a0;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-transform: capitalize;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0000ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #0000a0}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

